In [1]:
# install pandas 
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# install pymysql
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\casa-\appdata\roaming\python\python39\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# install sqlalchemy
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
# install mysql-connector-python
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\casa-\appdata\roaming\python\python39\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
# importing required files

import pandas as pd
import pymysql
import json
from sqlalchemy import create_engine

In [6]:
# read the .json file
df = pd.read_json("fake_property_data.json")
print(df)

                                         Property_Title  \
0     875 Davis Overpass Suite 394, South Kathrynsid...
1     1159 Johnson Pass Apt. 567, South Jamesfurt, M...
2     9082 Anna Villages Apt. 511, Port Juanshire, V...
3     86578 Lawson Park Suite 865, South Brianfurt, ...
4          309 Roy Brook Apt. 282, Lake Scott, FL 84478
...                                                 ...
9995           139 Fisher Spur, North Brandon, WA 23114
9996       275 Gutierrez Views, Lake Victoria, WY 63275
9997        341 Vanessa Harbor, North Melissa, CT 39313
9998  78647 Brittany Village, North Ethanborough, NY...
9999  5461 Nichols Throughway, East Crystalborough, ...

                                                Address Reviewed_Status  \
0     875 Davis Overpass Suite 394, South Kathrynsid...
1     1159 Johnson Pass Apt. 567, South Jamesfurt, M...        Reviewed
2     9082 Anna Villages Apt. 511, Port Juanshire, V...            Null
3     86578 Lawson Park Suite 865, South Brianfurt, ...          Closed
4          309 Roy Brook Apt. 282, Lake Scott, FL 84478          Closed
...                                                 ...             ...
9995           139 Fisher Spur, North Brandon, WA 23114         Offered
9996       275 Gutierrez Views, Lake Victoria, WY 63275        Reviewed
9997        341 Vanessa Harbor, North Melissa, CT 39313            Null
9998  78647 Brittany Village, North Ethanborough, NY...         Offered
9999  5461 Nichols Throughway, East Crystalborough, ...       Cancelled

     Most_Recent_Status       Source   Market Occupancy          Flood  \
0                Closed     Internal  Chicago      None           None
1             Cancelled  Auction.com   Dallas      None  Minimal Flood
2                  Null     Opendoor    Tampa        No     Flood Zone
3             Cancelled       M.L.S.               None     Flood Zone
4             Cancelled       M.L.S.    Tampa        No     Flood Zone
...                 ...          ...      ...       ...            ...
9995            Pending         Bulk   Chicgo        No           None
9996             Close         M L S    Dalas       Yes     Flood Zone
9997        Always Kick         Bulk    Tampa      None     Flood Zone
9998             Cancel          MLS  Chicago      None  Minimal Flood
9999          Cancelled        M L S    Tampa       Yes     Flood Zone

                    Street_Address                 City  ...   Longitude  \
0     875 Davis Overpass Suite 394    South Kathrynside  ...  -81.853842
1       1159 Johnson Pass Apt. 567      South Jamesfurt  ... -105.265714
2      9082 Anna Villages Apt. 511       Port Juanshire  ...  -77.250254
3      86578 Lawson Park Suite 865      South Brianfurt  ...  -85.460902
4           309 Roy Brook Apt. 282           Lake Scott  ...  -82.300397
...                            ...                  ...  ...         ...
9995               139 Fisher Spur        North Brandon  ...  -84.880198
9996           275 Gutierrez Views        Lake Victoria  ... -112.249250
9997            341 Vanessa Harbor        North Melissa  ... -103.962353
9998        78647 Brittany Village   North Ethanborough  ... -104.227932
9999       5461 Nichols Throughway  East Crystalborough  ...  -80.907870

      Subdivision Taxes Selling_Reason Seller_Retained_Broker  \
0          Manors  6389     Downsizing                   None
1           Cliff  9321           None                   None
2          Square  9963           None                   None
3         Springs  2173   Job Transfer                   None
4          Brooks  5985  Investor Sale                    Yes
...           ...   ...            ...                    ...
9995        Curve  4822           None                    Yes
9996        Field  4850           None                   None
9997     Junction  8370           None                    Yes
9998        Locks  9005  Investor Sale                     No
9999        Light  5199     Downsizing                    Yes

       Final_Reviewer  School_Average  \
0        Jason Miller            9.09
1         Luis Garcia            7.71
2     Samantha Pierce            6.04
3     Samantha Pierce            3.44
4        Priya Sharma            9.01
...               ...             ...
9995   David Thompson            3.08
9996  Sophia Williams            9.88
9997     Jason Miller            7.74
9998  Samantha Pierce            6.62
9999      Emily Patel            3.73

                                              Valuation  \
0     [{'List_Price': 93528, 'Previous_Rent': 1699, ...
1     [{'List_Price': 434027, 'Previous_Rent': 2955,...
2     [{'List_Price': 353402, 'Previous_Rent': 3478}...
3     [{'List_Price': 149122, 'Previous_Rent': 3012,...
4     [{'List_Price': 362688, 'Previous_Rent': 2315,...
...                                                 ...
9995  [{'List_Price': 408947, 'High_FMR': 5480}, {'L...
9996  [{'List_Price': 183622, 'Previous_Rent': 1938,...
9997  [{'List_Price': 477121, 'Zestimate': 215341, '...
9998  [{'List_Price': 137917, 'Previous_Rent': 2079,...
9999                                                 []

                                                    HOA  \
0     [{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...
1     [{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...
2     [{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...
3                     [{'HOA': 500, 'HOA_Flag': 'Yes'}]
4     [{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...
...                                                 ...
9995                   [{'HOA': 417, 'HOA_Flag': 'No'}]
9996  [{'HOA': 103, 'HOA_Flag': 'No'}, {'HOA': 334, ...
9997                                                 []
9998  [{'HOA': 461, 'HOA_Flag': 'Yes'}, {'HOA': 469,...
9999  [{'HOA': 18, 'HOA_Flag': 'No'}, {'HOA': 170, '...

                                                  Rehab
0     [{'Underwriting_Rehab': 66402, 'Rehab_Calculat...
1     [{'Underwriting_Rehab': 57763, 'Rehab_Calculat...
2     [{'Underwriting_Rehab': 74265, 'Rehab_Calculat...
3     [{'Underwriting_Rehab': 9019, 'Rehab_Calculati...
4     [{'Underwriting_Rehab': 77074, 'Rehab_Calculat...
...                                                 ...
9995  [{'Underwriting_Rehab': 49365, 'Rehab_Calculat...
9996  [{'Underwriting_Rehab': 29448, 'Rehab_Calculat...
9997  [{'Underwriting_Rehab': 63941, 'Rehab_Calculat...
9998  [{'Underwriting_Rehab': 34520, 'Rehab_Calculat...
9999  [{'Underwriting_Rehab': 55645, 'Rehab_Calculat...

[10000 rows x 45 columns]

In [10]:
# connect python with Mysql in the local host using Mysql-connector
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',user = 'root',password = 'root123four')

if mydb.is_connected():
    print('connection established....')

connection established....

In [11]:
# create engine
engine=create_engine('mysql+pymysql://root:root123four@localhost/home_db')

In [12]:
#json file as DataFrame
df = pd.read_json("fake_property_data.json")
df

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Occupancy,Flood,Street_Address,City,...,Longitude,Subdivision,Taxes,Selling_Reason,Seller_Retained_Broker,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,None,None,875 Davis Overpass Suite 394,South Kathrynside,...,-81.853842,Manors,6389,Downsizing,None,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,None,Minimal Flood,1159 Johnson Pass Apt. 567,South Jamesfurt,...,-105.265714,Cliff,9321,None,None,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Null,Null,Opendoor,Tampa,No,Flood Zone,9082 Anna Villages Apt. 511,Port Juanshire,...,-77.250254,Square,9963,None,None,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,,None,Flood Zone,86578 Lawson Park Suite 865,South Brianfurt,...,-85.460902,Springs,2173,Job Transfer,None,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,No,Flood Zone,309 Roy Brook Apt. 282,Lake Scott,...,-82.300397,Brooks,5985,Investor Sale,Yes,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"139 Fisher Spur, North Brandon, WA 23114","139 Fisher Spur, North Brandon, WA 23114",Offered,Pending,Bulk,Chicgo,No,None,139 Fisher Spur,North Brandon,...,-84.880198,Curve,4822,None,Yes,David Thompson,3.08,"[{'List_Price': 408947, 'High_FMR': 5480}, {'L...","[{'HOA': 417, 'HOA_Flag': 'No'}]","[{'Underwriting_Rehab': 49365, 'Rehab_Calculat..."
9996,"275 Gutierrez Views, Lake Victoria, WY 63275","275 Gutierrez Views, Lake Victoria, WY 63275",Reviewed,Close,M L S,Dalas,Yes,Flood Zone,275 Gutierrez Views,Lake Victoria,...,-112.249250,Field,4850,None,None,Sophia Williams,9.88,"[{'List_Price': 183622, 'Previous_Rent': 1938,...","[{'HOA': 103, 'HOA_Flag': 'No'}, {'HOA': 334, ...","[{'Underwriting_Rehab': 29448, 'Rehab_Calculat..."
9997,"341 Vanessa Harbor, North Melissa, CT 39313","341 Vanessa Harbor, North Melissa, CT 39313",Null,Always Kick,Bulk,Tampa,None,Flood Zone,341 Vanessa Harbor,North Melissa,...,-103.962353,Junction,8370,None,Yes,Jason Miller,7.74,"[{'List_Price': 477121, 'Zestimate': 215341, '...",[],"[{'Underwriting_Rehab': 63941, 'Rehab_Calculat..."
9998,"78647 Brittany Village, North Ethanborough, NY...","78647 Brittany Village, North Ethanborough, NY...",Offered,Cancel,MLS,Chicago,None,Minimal Flood,78647 Brittany Village,North Ethanborough,...,-104.227932,Locks,9005,Investor Sale,No,Samantha Pierce,6.62,"[{'List_Price': 137917, 'Previous_Rent': 2079,...","[{'HOA': 461, 'HOA_Flag': 'Yes'}, {'HOA': 469,...","[{'Underwriting_Rehab': 34520, 'Rehab_Calculat..."
9999,"5461 Nichols Throughway, East Crystalborough, ...","5461 Nichols Throughway, East Crystalborough, ...",Cancelled,Cancelled,M L S,Tampa,Yes,Flood Zone,5461 Nichols Throughway,East Crystalborough,...,-80.907870,Light,5199,Downsizing,Yes,Emily Patel,3.73,[],"[{'HOA': 18, 'HOA_Flag': 'No'}, {'HOA': 170, '...","[{'Underwriting_Rehab': 55645, 'Rehab_Calculat..."

In [21]:
df.head(5)

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Occupancy,Flood,Street_Address,City,...,Longitude,Subdivision,Taxes,Selling_Reason,Seller_Retained_Broker,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,None,None,875 Davis Overpass Suite 394,South Kathrynside,...,-81.853842,Manors,6389,Downsizing,None,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,None,Minimal Flood,1159 Johnson Pass Apt. 567,South Jamesfurt,...,-105.265714,Cliff,9321,None,None,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Null,Null,Opendoor,Tampa,No,Flood Zone,9082 Anna Villages Apt. 511,Port Juanshire,...,-77.250254,Square,9963,None,None,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,,None,Flood Zone,86578 Lawson Park Suite 865,South Brianfurt,...,-85.460902,Springs,2173,Job Transfer,None,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,No,Flood Zone,309 Roy Brook Apt. 282,Lake Scott,...,-82.300397,Brooks,5985,Investor Sale,Yes,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."

In [ ]:
print(df.columns)

In [ ]:
Valuation_column =['Valuation']
view_column = df[Valuation_column]
print(view_column)

In [16]:
# Assign variable to the file name
try:
    with open('fake_property_data.json', 'r') as f:
        data_to_normalize = json.load(f)
except FileNotFoundError:
    print("Error: The file 'fake_property_data.json' was not found.")
    exit()

In [17]:
# normalize the datas in the column Valuation
df_val = pd.json_normalize(
    data_to_normalize,
    record_path='Valuation'
)

# Drop duplicate rows
df_val_unique = df_val.drop_duplicates()

# Display the resulting DataFrame without duplicates
print(df_val_unique)

       List_Price  Previous_Rent       ARV  Rent_Zestimate  Low_FMR  \
0           93528         1699.0  130693.0          2047.0   1251.0
1          281162            NaN       NaN             NaN   1306.0
2          175119         2188.0       NaN             NaN   1612.0
3          168323            NaN       NaN             NaN      NaN
4          434027         2955.0  187554.0          3324.0      NaN
...           ...            ...       ...             ...      ...
24700      477121            NaN       NaN          1546.0   1054.0
24701      159043         2011.0  112129.0             NaN    926.0
24702      137917         2079.0  260738.0          2318.0    884.0
24703      154755            NaN       NaN             NaN      NaN
24704      427393            NaN  287444.0          1640.0      NaN

       Redfin_Value  Zestimate  Expected_Rent  High_FMR
0          379528.0        NaN            NaN       NaN
1          515319.0   522504.0         2671.0    1859.0
2               NaN        NaN         1386.0       NaN
3               NaN   192171.0         3138.0    5157.0
4               NaN        NaN            NaN       NaN
...             ...        ...            ...       ...
24700           NaN   215341.0         1161.0       NaN
24701           NaN   456135.0         2921.0       NaN
24702           NaN        NaN         2762.0       NaN
24703      134958.0   232506.0            NaN       NaN
24704      166012.0        NaN            NaN       NaN

[24705 rows x 9 columns]

In [ ]:
# export the valuation datas to the Mysql table
df_val_unique.to_sql('valuation',engine,if_exists='append',index=False)
print ('data has been exported...')

In [ ]:
Rehab_column =['Rehab']
view_column = df[Rehab_column]
view_column

In [19]:
#Flattend the datas in the rehab column
df_Rehab = pd.json_normalize(
    data_to_normalize, 
    record_path='Rehab'
)
# Drop duplicate rows
df_Rehab_unique = df_Rehab.drop_duplicates()
df_Rehab_unique

,Underwriting_Rehab,Rehab_Calculation,Paint,Flooring_Flag,Foundation_Flag,Roof_Flag,HVAC_Flag,Kitchen_Flag,Bathroom_Flag,Appliances_Flag,Windows_Flag,Landscaping_Flag,Trashout_Flag
0,66402,54602,None,No,Yes,None,None,None,None,No,Yes,None,No
1,20995,67666,Yes,Yes,Yes,No,Yes,Yes,None,None,Yes,No,No
2,64582,68022,No,None,Yes,Yes,Yes,No,Yes,None,None,Yes,No
3,57763,30244,Yes,No,None,None,No,No,No,Yes,No,No,Yes
4,74265,29580,None,Yes,None,No,No,No,No,Yes,No,Yes,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20019,63941,82902,Yes,None,None,No,Yes,Yes,No,None,No,Yes,None
20020,34520,2731,None,None,Yes,None,No,Yes,No,No,None,Yes,None
20021,77901,32822,Yes,None,No,No,No,Yes,No,Yes,No,No,Yes
20022,5961,26625,Yes,Yes,Yes,Yes,None,No,No,Yes,No,Yes,Yes
20023,55645,16508,None,None,Yes,No,No,No,No,No,None,None,No

In [ ]:
# exported the datas in the rehab column to the mysql table
df_Rehab_unique.to_sql('rehab',engine,if_exists='append',index=False)
print ('data has been exported...')

In [ ]:
df_hoa=['HOA']
view_hoa = df[df_hoa]
view_hoa

In [20]:
# Flattend the datas in the HOA column 
df_hoa = pd.json_normalize(
    data_to_normalize,  # <- Use the defined variable
    record_path='HOA'
)
# Drop duplicate rows
df_hoa_unique = df_hoa.drop_duplicates()
df_hoa_unique

      HOA HOA_Flag
0     460       No
1     476      Yes
2     322      Yes
3     219      Yes
4     242      Yes
...   ...      ...
5029  169      Yes
5524  488       No
6543  271       No
6978  180      Yes
7081  475      Yes

[1002 rows x 2 columns]

In [ ]:
# exported the datas in the HOA column toe the mysql table
df_hoa_unique.to_sql('hoa',engine,if_exists='append',index=False)
print ('data has been exported...')

In [ ]:
# find the datatype of specified columns

Leads_column =['Reviewed_Status', 'Most_Recent_Status',
       'Source','Occupancy','Net_Yield', 'IRR','Selling_Reason', 'Seller_Retained_Broker','Final_Reviewer']
column_dtypes = df[Leads_column].dtypes

print(column_dtypes)

In [ ]:
Leads_column =['Reviewed_Status', 'Most_Recent_Status',
       'Source','Occupancy','Net_Yield', 'IRR','Selling_Reason', 'Seller_Retained_Broker','Final_Reviewer']
columns= df[Leads_column]

print(columns)

In [ ]:
# Drop duplicate rows
columns_unique = columns.drop_duplicates()
columns_unique

# exported the datas in the leads column to the mysql table
columns_unique.to_sql('leads',engine,if_exists='append',index=False)
print ('data has been exported...')

In [ ]:
Taxes_column =['Taxes']
column_Taxes= df[Taxes_column]

print(column_Taxes)

In [ ]:
# Drop duplicate rows
Taxes_unique = column_Taxes.drop_duplicates()
Taxes_unique

# exported the datas in the Taxes column to the mysql table
Taxes_unique.to_sql('taxes',engine,if_exists='append',index=False)
print ('data has been exported...')

In [ ]:
# find the datatype of specified property columns

property_column =['Property_Title', 'Address',
        'Market', 'Flood', 'Street_Address', 'City',
       'State', 'Zip', 'Property_Type', 'Highway', 'Train', 'Tax_Rate',
       'SQFT_Basement', 'HTW', 'Pool', 'Commercial', 'Water', 'Sewage',
       'Year_Built', 'SQFT_MU', 'SQFT_Total', 'Parking', 'Bed', 'Bath',
       'BasementYesNo', 'Layout', 'Rent_Restricted',
       'Neighborhood_Rating', 'Latitude', 'Longitude', 'Subdivision',
       'School_Average']
column_dtypes = df[property_column].dtypes

print(column_dtypes)

In [ ]:


property_column =['Property_Title', 'Address',
        'Market', 'Flood', 'Street_Address', 'City',
       'State', 'Zip', 'Property_Type', 'Highway', 'Train', 'Tax_Rate',
       'SQFT_Basement', 'HTW', 'Pool', 'Commercial', 'Water', 'Sewage',
       'Year_Built', 'SQFT_MU', 'SQFT_Total', 'Parking', 'Bed', 'Bath',
       'BasementYesNo', 'Layout', 'Rent_Restricted',
       'Neighborhood_Rating', 'Latitude', 'Longitude', 'Subdivision',
       'School_Average']
columns_property= df[property_column]

print(columns_property)

In [ ]:
# Drop duplicate rows
property_unique = columns_property.drop_duplicates()
property_unique

# exported the datas in the property column to the mysql table
property_unique.to_sql('property',engine,if_exists='append',index=False)
print ('data has been exported...')

In [ ]:
property_unique.head(5)

In [ ]:
# close engine
engine.dispose()